.chat_window {
    width: calc(100% - 25px);
    max-width: 80vw;
    height: 80vh;
    border-radius: 5px;
    margin: 30px auto;
    left: 50%;
    top: 30%;
    transform: translateX(0%) translateY(0%);
    box-shadow: -7px 7px 4px rgba(0, 0, 0, 0.2);
    background: url("./resources/Background_yellow.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
     background-size: cover;
    overflow: hidden;
}